<div class="wrapper container-buffer">
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-sm-4 col-md-3">
        <%= simple_form_for [@cocktail, @dose] do |f| %>
          <%= f.error_notification %>
          <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

          <div class="form-inputs">
            <%= f.association :ingredient,:as => :collection_select,:label => "Select ingredient" %>
            <%= f.input :description %>
          </div>

          <div class="form-actions">
            <%= f.button :submit %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>






